[MESSAGES CONTROL]
disable = attribute-defined-outside-init,
          bare-except,
          broad-exception-raised,
          broad-exception-caught,
          cyclic-import,
          duplicate-code,
          missing-function-docstring,
          missing-class-docstring,
          too-few-public-methods,
          too-many-arguments,
          too-many-positional-arguments,
          too-many-branches,
          too-many-instance-attributes,
          too-many-locals

[TYPECHECK]
ignored-modules = wx
