[MESSAGES CONTROL]
disable = broad-exception-raised,
          broad-exception-caught,
          cyclic-import,
          duplicate-code,
          missing-function-docstring,
          missing-class-docstring,
          too-few-public-methods,
          too-many-instance-attributes,
          too-many-locals

[TYPECHECK]
ignored-modules = wx
